@mixin mQ($width) {
    @media (min-width: $width) {
        @content;
    }
}

// navigation
// navigation
header {
    background-color: rgb(24, 21, 14);
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
    top: 0;
    .section-nav {
        height: 2em;
        .section-nav-icon-provider {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 3;
            height: 2em;
            width: 2em;
            color: lightgreen;
            @include mQ(30em) {
                display: none;
            }
        }

        // desktop view
        .section-navlink-container {
            display: none;
            @include mQ(30em) {
                display: block;
            }
        }

        // mobile view
        .section-navlink-container-mobile {
            height: 100vh;
            margin-top: 0;
            background-color: rgb(53, 51, 44);
            width: 20em;
            @include mQ(30em) {
                background-color: rgb(24, 21, 14);
                height: 2em;
            }
        }
        .section-navlink-container-blank {
            padding-top: 2em;
            @include mQ(30em) {
                padding-top: 0;
            }
            .section-nav-links {
                display: block;
                // padding: 2em;
                color: lightgreen;
                border: solid 0.3px lightgreen;
                padding: 0.4em 1em 0.4em 1em;
                &:link {
                    text-decoration: none;
                }
                &:hover {
                    color: rgb(79, 209, 137);
                    background-color: lighten(rgb(53, 51, 44), 13);
                }
                @include mQ(30em) {
                    display: inline-block;
                }
            }
        }
    }
}

.section-work-container {
    padding: 0 1em;
    @include mQ(30em) {
        padding: 0 3em;
    }
    @include mQ(50em) {
        padding: 0 7em;
    }
    .section-work-container-items {
        @include mQ(30em) {
            display: grid;
            grid-template-columns: 13em 1fr;
        }
    }
}

body {
    margin: 0;
    #root {
        padding: 0;
        margin: auto;
        max-width: 100em;
    }
    .quote {
        text-align: center;
    }
    h1,
    h2,
    h3 {
        text-align: center;
    }
    p {
        padding: 0 1em;
    }
}

.section-skills {
    background: rgb(231, 230, 158);
    padding: 0 1em;

    @include mQ(30em) {
        padding: 0 3em;
    }
    @include mQ(50em) {
        padding: 0 7em;
    }
    text-align: center;
    .section-skills-item {
        display: grid;
        text-align: left;
        @include mQ(30em) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include mQ(60em) {
            grid-template-columns: repeat(3, 1fr);
        }
        .section-skills-item-mapped {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            max-width: 25em;
            @include mQ(30em) {
            }
        }
    }
}

.section-profile {
    background-color: beige;
    h1 {
        margin-top: 0;
    }
    .section-profile-about {
        padding: 0 1em;
        @include mQ(30em) {
            display: grid;
            padding: 0 3em;
            grid-template-columns: minmax(auto, 7em) 1fr;
        }
        @include mQ(50em) {
            padding: 0 7em;
        }
        img {
            display: block;
            margin: auto;
            width: 50%;
            @include mQ(30em) {
                margin-top: 1em;
                width: 100%;
                max-width: 15em;
            }
        }
    }
}

.section-home {
    background-image: url(https://res.cloudinary.com/crimson-flamingo/image/upload/v1560960995/3105%20portfolio%20screenshots/own_website_home.jpg);
    text-align: center;
    background-size: cover;
    height: 100vh;
    min-height: -webkit-fill-available;
    @include mQ(30em) {
        background-attachment: fixed;
        background-position: center;
    }
    @include mQ(50em) {
        background-size: 150vw;
    }
    @include mQ(70em) {
        background-size: 100vw;
    }
    .section-home-name {
        position: relative;
        top: 4em;
        width: auto;
        background: yellow;
        border: solid black;
        box-shadow: 5px 10px;
    }
    .icon-down {
        position: absolute;
        background-color: yellow;
        bottom: 1em;
        left: 0;
        right: 0;
        margin: auto;
        width: 4em;
    }
}

.section-projects {
    padding: 0 1em;
    background-color: rgb(240, 255, 215);
    @include mQ(30em) {
        padding: 0 3em;
    }
    @include mQ(50em) {
        padding: 0 7em;
    }

    .section-projects-web {
        @include mQ(40em) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1em;
        }
        @include mQ(70em) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include mQ(30em) {
        }
        .section-projects-web-items {
            display: grid;
            grid-template-rows:
                minmax(auto, 4em) minmax(auto, 2em) minmax(auto, 2em)
                auto minmax(auto, 6em) 1fr;
            justify-items: center;
            border: 0.1em solid black;
            .section-projects-web-items-image {
                width: 80%;
                @include mQ(30em) {
                    height: 20em;
                    width: auto;
                }
            }
        }
    }
}

footer {
    background: darkslategray;
    text-align: center;
    color: darken($color: white, $amount: 10);
    a {
        padding: 0 0.3em;
    }
}
